.code-title {
	color: var(--dark-text-color);
	background-color: #e5e5e5;
	border-radius: 6px 6px 0px 0px;
	font-size: 80%;
	padding: 8px 16px;
	display: grid;
	align-items: center;
}

body[class*="dark-ui"] .code-title {
	color: var(--text-color);
	background-color: #404040;
}

.code-title + .codeblock pre {
	border-radius: 0px 0px 6px 6px !important;
}
