// -------------
//   title tag
// -------------
.code-title {
  color: var(--text-color);
  background-color: rgba(120, 120, 120, 0.25);
  font-size: 100%;
  padding: 0 0.4em;
  height: 20px;
  line-height: 20px;
  display: inline-block;

  border-radius: 3px 0 3px 0;
  margin-bottom: -20px;
  display: table;
  position: relative;
  z-index: 2;
}

// --------------
//   code block
// --------------
.with-title {
  padding-top: 20px;
}

pre > div > code {
  font-size: 100% !important;
}
